# <center>Analyze Car Prices Dataset</center>

### Data Set Information:

This data set consists of three types of entities: (a) the specification of an auto in terms of various characteristics, (b) its assigned insurance risk rating, (c) its normalized losses in use as compared to other cars. The second rating corresponds to the degree to which the auto is more risky than its price indicates. Cars are initially assigned a risk factor symbol associated with its price. Then, if it is more risky (or less), this symbol is adjusted by moving it up (or down) the scale. Actuarians call this process "symboling". A value of +3 indicates that the auto is risky, -3 that it is probably pretty safe.

The third factor is the relative average loss payment per insured vehicle year. This value is normalized for all autos within a particular size classification (two-door small, station wagons, sports/speciality, etc...), and represents the average loss per car per year.

Note: Several of the attributes in the database could be used as a "class" attribute.

for more information [link](https://archive.ics.uci.edu/ml/datasets/Automobile)

### Attribute Information:

1. symboling: -3, -2, -1, 0, 1, 2, 3.
2. normalized-losses: continuous from 65 to 256.
3. make: alfa-romero, audi, bmw, chevrolet, dodge, honda, isuzu, jaguar, mazda, mercedes-benz, mercury, mitsubishi, nissan, peugot, plymouth, porsche, renault, saab, subaru, toyota, volkswagen, volvo
4. fuel-type: diesel, gas.
5. aspiration: std, turbo.
6. num-of-doors: four, two.
7. body-style: hardtop, wagon, sedan, hatchback, convertible.
8. drive-wheels: 4wd, fwd, rwd.
9. engine-location: front, rear.
10. wheel-base: continuous from 86.6 120.9.
11. length: continuous from 141.1 to 208.1.
12. width: continuous from 60.3 to 72.3.
13. height: continuous from 47.8 to 59.8.
14. curb-weight: continuous from 1488 to 4066.
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor.
16. num-of-cylinders: eight, five, four, six, three, twelve, two.
17. engine-size: continuous from 61 to 326.
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.
19. bore: continuous from 2.54 to 3.94.
20. stroke: continuous from 2.07 to 4.17.
21. compression-ratio: continuous from 7 to 23.
22. horsepower: continuous from 48 to 288.
23. peak-rpm: continuous from 4150 to 6600.
24. city-mpg: continuous from 13 to 49.
25. highway-mpg: continuous from 16 to 54.
26. price: continuous from 5118 to 45400

### Requirements

In [328]:
!pip install -r requirement.txt

Requirement already satisfied: numpy==1.18.1 in c:\python\lib\site-packages (from -r requirement.txt (line 1)) (1.18.1)
Requirement already satisfied: pandas==1.0.1 in c:\python\lib\site-packages (from -r requirement.txt (line 2)) (1.0.1)
Requirement already satisfied: matplotlib==3.2.0 in c:\python\lib\site-packages (from -r requirement.txt (line 3)) (3.2.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\python\lib\site-packages (from pandas==1.0.1->-r requirement.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\python\lib\site-packages (from pandas==1.0.1->-r requirement.txt (line 2)) (2019.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\python\lib\site-packages (from matplotlib==3.2.0->-r requirement.txt (line 3)) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python\lib\site-packages (from matplotlib==3.2.0->-r requirement.txt (line 3)) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\python\lib\site-packages (from matplotlib==3.2.0->-r requirement.txt (line 3)) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\python\lib\site-packages (from python-dateutil>=2.6.1->pandas==1.0.1->-r requirement.txt (line 2)) (1.14.0)
Requirement already satisfied: setuptools in c:\python\lib\site-packages (from kiwisolver>=1.0.1->matplotlib==3.2.0->-r requirement.txt (line 3)) (41.2.0)

WARNING: You are using pip version 19.2.3, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Import necessary tools

In [329]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

### Loading data

In [330]:
other_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
df = pd.read_csv(other_path, header=None)

In [331]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Adding headrs

In [332]:
# create headers list
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [333]:
df.columns = headers

In [334]:
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Identify and handle missing values

Deleting the rows that have the missing value in price column, because the price car is our goal

In [335]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In the car dataset, missing data comes with the question mark "?". We replace "?" with NaN (Not a Number), which is Python's default missing value marker, for reasons of computational speed and convenience. Here we use the function:

In [336]:
df.replace("?", np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Evaluating for Missing Data<br>
"True" stands for missing value, while "False" stands for not missing value.

In [337]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Count missing values in each column

In [338]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print()

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

##### Deal with missing data
How to deal with missing data ?

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>
Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely. We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

<b>Replace by mean:</b>
<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Befor replacing the missing values</b>

In [339]:
df[["normalized-losses", "stroke", "bore", "horsepower", "peak-rpm"]]

    normalized-losses stroke  bore horsepower peak-rpm
0                 NaN   2.68  3.47        111     5000
1                 NaN   2.68  3.47        111     5000
2                 NaN   3.47  2.68        154     5000
3                 164   3.40  3.19        102     5500
4                 164   3.40  3.19        115     5500
..                ...    ...   ...        ...      ...
200                95   3.15  3.78        114     5400
201                95   3.15  3.78        160     5300
202                95   2.87  3.58        134     5500
203                95   3.40  3.01        106     4800
204                95   3.15  3.78        114     5400

[205 rows x 5 columns]

<b>After replacing missing values</b>

In [340]:
columns_replaced_missing_data_with_mean = ["normalized-losses", "stroke", "bore", "horsepower", "peak-rpm"]
for column in columns_replaced_missing_data_with_mean: 
    avg_column = df[column].astype("float").mean(axis=0)
    df[column].replace(np.nan, avg_column, inplace=True)
df[["normalized-losses", "stroke", "bore", "horsepower", "peak-rpm"]]

    normalized-losses stroke  bore horsepower peak-rpm
0                 122   2.68  3.47        111     5000
1                 122   2.68  3.47        111     5000
2                 122   3.47  2.68        154     5000
3                 164   3.40  3.19        102     5500
4                 164   3.40  3.19        115     5500
..                ...    ...   ...        ...      ...
200                95   3.15  3.78        114     5400
201                95   3.15  3.78        160     5300
202                95   2.87  3.58        134     5500
203                95   3.40  3.01        106     4800
204                95   3.15  3.78        114     5400

[205 rows x 5 columns]

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

To see which values are present in a particular column, we can use the ".value_counts()" method:

In [341]:
df["num-of-doors"].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

We can see that four doors are the most common type. We can also use the ".idxmax()" method to calculate for us the most common type automatically:

In [342]:
df['num-of-doors'].value_counts().idxmax()

'four'

<b>Befor replacing the missing values</b>

In [343]:
df.loc[df['num-of-doors'].isnull()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
27,1,148,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
63,0,122,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795

In [344]:
df["num-of-doors"].replace(np.nan, "four", inplace=True)

<b>After replacing missing values</b>

In [345]:
df.loc[df['num-of-doors'].isnull()]

Empty DataFrame
Columns: [symboling, normalized-losses, make, fuel-type, aspiration, num-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 26 columns]

In [346]:
df["city-mpg"]

0      21
1      21
2      19
3      24
4      18
       ..
200    23
201    19
202    18
203    26
204    19
Name: city-mpg, Length: 205, dtype: int64

<b>Good!</b> Now, we obtain the dataset with no missing values.

<h3 id="correct_data_format">Correct data format</h3>
<b>We are almost there!</b>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use 
<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<b>Lets list the data types for each column</b>

In [347]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int'; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.

<b>Convert data types to proper format</b>

In [348]:
df[["bore", "stroke", "price", "peak-rpm"]] = df[["bore", "stroke", "price", "peak-rpm"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int64")

<b>Let us list the columns after the conversion</b>

In [349]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

<b>Data Standardization</b>

Transform mpg to L/100km

In [350]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-mpg'] = 235/df["city-mpg"]
df.rename(columns={"city-mpg":"city-L/100km"}, inplace=True)

# check your transformed data 
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000.0,11.190476,27,13495.0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000.0,11.190476,27,16500.0
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000.0,12.368421,26,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500.0,9.791667,30,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500.0,13.055556,22,17450.0

transform mpg to L/100km

In [360]:
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={"highway-mpg":"highway-L/100km"}, inplace=True)

# check your transformed data 
df.head()

KeyError: 'highway-mpg'

### Data Normalization

<b>Why normalization?</b>
<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling variable so the variable values range from 0 to 1
</p>

<b>Example</b>
<p>To demonstrate normalization, let's say we want to scale the columns "length", "width" and "height" </p>
<p><b>Target:</b>would like to Normalize those variables so their value ranges from 0 to 1.</p>
<p><b>Approach:</b> replace original value by (original value)/(maximum value)</p>

In [359]:
# replace (original value) by (original value)/(maximum value)

df['symboling'] = df['symboling']/df['symboling'].max()
df['normalized-losses'] = df['normalized-losses']/df['normalized-losses'].max()
df['curb-weight'] = df['curb-weight']/df['curb-weight'].max()
df['engine-size'] = df['engine-size']/df['engine-size'].max()

df['wheel-base'] = df['wheel-base']/df['wheel-base'].max()
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()
df['bore'] = df['bore']/df['bore'].max()
df['stroke'] = df['stroke']/df['stroke'].max()
df['compression-ratio'] = df['compression-ratio']/df['compression-ratio'].max()
df['peak-rpm'] = df['peak-rpm']/df['peak-rpm'].max()
df['city-L/100km'] = df['city-L/100km']/df['city-L/100km'].max()
df['highway-L/100km'] = df['highway-L/100km']/df['highway-L/100km'].max()
df['price'] = df['price']/df['price'].max()

df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-L/100km,price
0,1.000000,0.476562,alfa-romero,gas,std,two,convertible,rwd,front,0.732837,...,0.398773,mpfi,0.880711,0.642686,0.391304,111,0.757576,0.619048,0.592593,0.297247
1,1.000000,0.476562,alfa-romero,gas,std,two,convertible,rwd,front,0.732837,...,0.398773,mpfi,0.880711,0.642686,0.391304,111,0.757576,0.619048,0.592593,0.363436
2,0.333333,0.476562,alfa-romero,gas,std,two,hatchback,rwd,front,0.781638,...,0.466258,mpfi,0.680203,0.832134,0.391304,154,0.757576,0.684211,0.615385,0.363436
3,0.666667,0.640625,audi,gas,std,four,sedan,fwd,front,0.825476,...,0.334356,mpfi,0.809645,0.815348,0.434783,102,0.833333,0.541667,0.533333,0.307269
4,0.666667,0.640625,audi,gas,std,four,sedan,4wd,front,0.822167,...,0.417178,mpfi,0.809645,0.815348,0.347826,115,0.833333,0.722222,0.727273,0.384361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-0.333333,0.371094,volvo,gas,std,four,sedan,rwd,front,0.902399,...,0.432515,mpfi,0.959391,0.755396,0.413043,114,0.818182,0.565217,0.571429,0.371035
201,-0.333333,0.371094,volvo,gas,turbo,four,sedan,rwd,front,0.902399,...,0.432515,mpfi,0.959391,0.755396,0.378261,160,0.803030,0.684211,0.640000,0.419493
202,-0.333333,0.371094,volvo,gas,std,four,sedan,rwd,front,0.902399,...,0.530675,mpfi,0.908629,0.688249,0.382609,134,0.833333,0.722222,0.695652,0.473238
203,-0.333333,0.371094,volvo,diesel,turbo,four,sedan,rwd,front,0.902399,...,0.444785,idi,0.763959,0.815348,1.000000,106,0.727273,0.500000,0.592593,0.494934
204,-0.333333,0.371094,volvo,gas,turbo,four,sedan,rwd,front,0.902399,...,0.432515,mpfi,0.959391,0.755396,0.413043,114,0.818182,0.684211,0.640000,0.498348